 <footer>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3859.2099799098473!2d53.40306901632597!3d35.57356113661651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfa!2s!4v1689457081044!5m2!1sfa!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <div class="footer">
            <div class="Right">
              <ul>
                <li>تماس  با ما</li>
                <li>صفحه اصلی</li>
                <li>درباره ما</li>

              </ul>
            </div>
            <div class="middle">
              <p>copy Right Reserved</p>
              <img  src="../../static/logo/logo.avif"/>
            </div>


        </div>
    </footer>